* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #efefef;
    color: #2f2f2f;
    line-height: 1.4;
    font-family: "Roboto", sans-serif;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  ::-moz-selection {
    background-color: black;
    color: white;
  }
  
  ::selection {
    background-color: black;
    color: white;
  }

  .h1 {
    color: red;
    text-align: center;
  }
  .h2 {
  text-align: center;
  padding-top: 2rem;
  font-size: 2rem;
  font-weight: 500;
  }
  h1 {
    font-size: 25.5px;
  }
  
  h2 {
    font-weight: 700;
    font-size: 19.5px;
  }
  
  h3 {
    font-size: 16px;
  }
  
  h5 {
    font-size: 15px;
  }
  
  p {
    font-size: 18px;
  }
  
  .img {
    width: 100%;
  }
  
  .img img {
    width: 100%;
    display: block;
  }
  
  .btn a button span {
    font-size: 15px;
  }
  
  .container {
    width: 100%;
    max-width: 960px;
    margin: 20px auto;
  }
  
  .container .head {
    background-color: #e9e9e9;
    margin: 22px 0;
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  .container .head h5 {
    text-align: center;
    padding: 1;
    padding: 2px 0;
    font-weight: 400;
  }
  
  .container section {
    -webkit-box-shadow: #0000003d 0px 3px 8px;
            box-shadow: #0000003d 0px 3px 8px;
  }
  
  .container section > div {
    background-color: #ffffff;
    padding: 21px 15px 6px;
  }
  
  .container section > div > div:nth-child(1) {
    max-width: 600px;
    margin: auto;
  }
  
  .container section > div > div:nth-child(1) h1 {
    margin: 1rem 0;
    text-align: center;
    width: 90%;
    margin: auto;
    line-height: 1.3em;
    font-weight: 700;
  }
  
  .container section > div > div:nth-child(1) .img {
    margin: 20px auto;
    max-width: 500px;
  }
  
  .container section > div > div:nth-child(2) .date h2 {
    color: #4adf40;
  }
  
  .container section > div > div:nth-child(2) .date h3 {
    margin: 7px 0;
    font-weight: 400;
    font-style: italic;
  }
  
  .container section > div > div:nth-child(2) > div:nth-child(2) .vid-link {
    text-decoration: none;
    color: #2fa1f4;
  }
  
  .container section > div > div:nth-child(2) > div:nth-child(2) p {
    margin: 25px 0;
  }
  
  .container section > div > div:nth-child(2) > div:nth-child(2) .btn {
    text-align: center;
    padding: 30px 0 21px 0;
  }
  
  .container section > div > div:nth-child(2) > div:nth-child(2) .btn button {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    display: inline-block;
    text-align: center;
    outline: none;
    color: #fff;
    background-color: #2196f3;
    border: none;
    -webkit-box-shadow: 0 6px #d4d4d4;
            box-shadow: 0 6px #d4d4d4;
    margin: 20px 0;
    padding: 19px;
    border-radius: 9px;
    cursor: pointer;
  }
  
  .container section > div > div:nth-child(2) > div:nth-child(2) .btn button span {
    display: inline-block;
    position: relative;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-size: 2.5rem;
    font-weight: 500;
  }
  
  .container section > div > div:nth-child(2) > div:nth-child(2) .btn button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .container section > div > div:nth-child(2) > div:nth-child(2) .btn button:hover span {
    padding-right: 25px;
  }
  
  .container section > div > div:nth-child(2) > div:nth-child(2) .btn button:hover span:after {
    opacity: 1;
    right: 0;
  }
  
  .container section > div > div:nth-child(2) > div:nth-child(2) .btn button:hover {
    background-color: #3285c9;
  }
  
  .container section > div > div:nth-child(2) > div:nth-child(2) .btn button:active {
    background-color: #3285c9;
    -webkit-box-shadow: 0 1px #d4d4d4;
            box-shadow: 0 1px #d4d4d4;
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  
  footer > div {
    padding: 10px 0;
    width: 90%;
    margin: auto;
    max-width: 600px;
    text-align: center;
  }
  
  footer > div p {
    font-size: 12px;
    margin: 20px 0;
    color: #6b6b6b;
  }
  @media only screen and (max-width: 768px) {
    .container section > div > div:nth-child(2) > div:nth-child(2) .btn button span {
      
      font-size: 1rem;
      font-weight: 500;
    }
   
  }
  @media screen and (min-width: 800px) {
   
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 21px;
    }
    h3 {
      font-size: 18px;
    }
    h5 {
      font-size: 17px;
    }
    p {
      font-size: 20px;
    }
    .btn a button span {
      font-size: 22.5px;
    }
    .container section {
      width: 100%;
      max-width: 1000px;
      margin: 20px auto;
    }
    .container section > div > div:nth-child(1) {
      max-width: unset;
    }
    .container section > div > div:nth-child(1) h1 {
      width: 87%;
    }
    .container section > div > div:nth-child(1) .img {
      margin: 40px auto;
    }
    .container section > div > div:nth-child(2) {
      max-width: 890px;
      margin: auto;
    }
    footer > div p {
      font-size: 13px;
    }
  }
  /*# sourceMappingURL=style.css.map */